<div class="container">

    <div *ngIf="listOrders?.length == 0" class="alert alert-warning">
        Không có sản phẩm nào đã mua.
    </div>
    <div class="row" *ngIf="listOrders.length > 0" >
        <h2>Danh sách sản phẩm đã mua</h2>
        <div *ngFor="let p of listOrders" class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <p>
                        Order ID: <b>{{ p.id }}</b>
                    </p>
                </div>
                <div class="card-body" *ngIf="p.details && p.details.length > 0">
                    <div *ngFor="let item of p.details">
                        <h5 class="card-title"> <strong>{{ item.nameP }} </strong> </h5>
                        <span>(<i>ID: {{ item.idP }}</i>)</span>

                        <p class="card-text">
                           <strong>  Giá:</strong>{{ item.piceP }}
                        </p>
                        <p class="card-text">
                            <strong>So luong:</strong> {{ item.quantityP }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
