<div class="container view-productdetail">
  <div class="row">
      <div class="col-md-5">
         <img style="height: 300px;" src="{{ViewProduct.hinh}}">
       </div>
      <div class="col-md-7">
        <ul class="list-group lg">
         <li class="list-group-item">
            <h1>{{ViewProduct.tensp}}</h1>
         </li>
         <li class="list-group-item">
             Giá: {{ViewProduct.giasp|number:'1.0-0':'fr' }} VNĐ
         </li>
         <li class="list-group-item">
            Số lần xem: {{ViewProduct.solanxem}}
         </li>
         <li class="list-group-item">
             Loại : {{nameType}}
         </li>
         <li class="list-group-item">
            Ngày: {{ViewProduct.ngay|date:"dd/MM/Y"}}
         </li>
         <li class="list-group-item" >
            <button class="btn btn-warning" (click)="addToCard(ViewProduct)">Thêm vào giỏ</button> |
            <a class="btn btn-primary" href="#" routerLink="/product/{{ViewProduct.id}}" >Xem chi tiết </a>
         </li>
        </ul>
      </div>
  </div>
  <div class="row">
      <h3>Mô tả sản phẩm</h3>
      <div class="text-justify">{{ViewProduct.mota}}</div> <hr>
  </div>
  <app-similar-product [idType]="idType" [page_size]="3"></app-similar-product>
  <div class="row"> <!-- list bình luận --> </div>
  <div class="row"> <!-- form thêm bình luận --> </div>
  </div>

