
<div class="alert alert-warning text-center p-5 h2" *ngIf="!items || items?.length==0" >
  Bạn chưa chọn sản phẩm nào

</div>
<div class="alert alert-warning text-center p-5 h2"  >

</div>
<table id="cart" class="table table-bordered" *ngIf="items?.length >0" >
  <caption align="top" class="h3">GIỎ HÀNG CỦA BẠN</caption>
  <tr> <th>Tên sản phẩm</th> <th>Giá </th> <th>Số lượng</th>  <th>Thành tiền </th>   <th> </th> </tr>
  <tr *ngFor="let item of items ,let i=index" >
   <td> {{ item.namep|uppercase }}</td>
   <td> {{item.picep|number:'1.0-0':'fr' }} VNĐ</td>
   <td><input [(ngModel)]="item.quantityp" min="1" type="number" class="form-control"></td>
   <td> {{item.picep|number:'1.0-0':'fr' }} VNĐ </td>
   <td><a   class="btn btn-warning w-100" (click)="removeProduct(i)">Xóa Sản phẩm</a></td>
  </tr>
  <tr >

   <th colspan="2"> Tổng số lượng: {{ totalProduct() }} </th>
   <th colspan="2"> Tổng tiền: {{ totalPayment() |number:'1.0-0':'fr'}} VNĐ  </th>


  </tr>
  <tr>
   <td colspan="2"> </td>
   <td colspan="2"> <a class="btn btn-warning w-100" href="#" routerLink="/purchase" (click)="onclick(1)"  >Thanh toán</a> </td>
   <td colspan="2"> <a class="btn btn-warning w-100" (click)="removeProduct(-1)">Xóa giỏ hàng</a> </td>
  </tr>


