<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create product</h2>

              <form [formGroup]="createform" (ngSubmit)="proceesdCreateProducts()">

                <div class="form-outline mb-4">
                  <input type="number"  id="form3Example1cg" class="form-control form-control-lg" placeholder="Enter id " formControlName="id"/>
                  <label class="form-label" for="form3Example1cg">id</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3cg" class="form-control form-control-lg" formControlName="tensp" placeholder="Enter name " />
                  <label class="form-label" for="form3Example3cg"  >tên : </label>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" id="form3Example3cg" class="form-control form-control-lg" formControlName="giasp" placeholder="Enter giá " />
                    <label class="form-label" for="form3Example3cg"  >giá : </label>
                  </div>

                <div class="form-outline mb-4">
                    <label for="form3Example5cg">mô tả sản phẩm</label>
                    <input type="text" class="form-control" id="form3Example5cg" formControlName="mota" placeholder="Nhập mô tả sản phẩm">
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example4cg" class="form-control form-control-lg"  formControlName="hinh" placeholder="link..." />
                    <label class="form-label" for="form3Example4cg"  >hinh anh: </label>
                  </div>
                <div class="form-outline mb-4">
                  <input type="date" id="form3Example6cdg" class="form-control form-control-lg" formControlName="ngay" />
                  <label class="form-label" for="form3Example4cdg"  >ngay:</label>
                </div>


                <div class="form-outline mb-4">
                  <input type="number" id="form3Example4cdg" class="form-control form-control-lg"  formControlName="idLoai" placeholder="Enter idloai"/>
                  <label class="form-label" for="form3Example4cdg"  >loại sản phẩm: </label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" >Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body" routerLink="/login"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




